@import url(fonts.css);

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.container{
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 100px;
}

header{
    background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%); 
}

.header_banner{
    position: absolute;
    width: 100%;
    z-index: -1;
}

.header_nav{
    display: flex;
    justify-content: space-between;
}

.header_logo{
    padding-top: 55px;
}

.header_list{
    display: flex;
    padding-top: 58px;
    column-gap: 20px;
}

.header_link{
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'Lato-Regular';
}

.header_list-div{
    display: flex;
}

.Usa_flag{
    padding-top: 54px;
    padding-right: 11px;
}

.header_list-p{
    padding-top: 59px;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'Lato-Regular';
    padding-right: 5px;
}

.header_list-img{
    padding-top: 59px;  
    padding-right: 28px;
}

.header_log{
    margin-top: 50px;
    padding: 11px 28px 12px 29px;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF; 
    font-family: 'Lato-Regular';
}

.header_content{
    margin-top: 177px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 72px;
    line-height: 86px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'Lato-Bold';
    padding-bottom: 39px;
}

.header_text{
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Lato-SemiBold';
    padding-bottom: 39px;
}

.header_signup{
    padding: 17px 53px 16px 52px;
    background: #FFFFFF;
    border-radius: 6px;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;    
    text-transform: uppercase;
    color: #ED4C5C;
    font-family: 'Lato-SemiBold';
    margin-bottom: 143px;
}

.first_content{
    display: flex;
    position: relative;
}

.first_list{
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    margin-right: 125px;
}

.first_title{
    width: 445px;
    font-size: 36px;
    line-height: 43px;
    color: #000000; 
    font-family: 'Lato-SemiBold';
    padding-bottom: 24px;
}

.first_text{
    width: 445px;   
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #000000;
    font-family: 'Lato-Regular';
}

.first_link{
    padding-top: 20px;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #ED4C5C; 
    font-family: 'Lato-Regular';
}

.video_bg{
    padding-top: 94px;
    padding-bottom: 95px;
    z-index: -1;
}

.play_button{
    position: absolute;
    top: 217px;
    left: 537px;
}

.second_section{
    background: #FAFAFA;
}

.second_content{
    display: flex;
    justify-content: space-between;
}

.second_h2{
    padding: 63px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #000000;
    font-family: 'Lato-SemiBold';
}

.second_img{
    z-index: -1;
}

.second_box-list{
    position: relative;
    margin-top: -100px;
    margin-left: 29px;
    margin-bottom: 124px;
    width: 293px;
    padding: 33px 32px 32px 25px;
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second_title{
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #101010;
    font-family: 'Lato-Bold';
}

.second_text{
    padding-top: 20px;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #101010;
    font-family: 'Lato-Regular';
    padding-bottom: 15px;
}

.second_link{
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #ED4C5C;
    font-family: 'Lato-Bold';
}

.third_h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #000000;
    font-family: 'Lato-SemiBold';
    padding: 63px 0 52px;
}

.third_content{
    display: flex;
    justify-content: space-between;
}

.third_content-box{
    max-width: 255px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;      
    margin-bottom: 104px; 
}

.third_section_number{
    z-index: -1;
    font-size: 100px;
    line-height: 120px;
    text-align: center;
    color: rgba(16, 16, 16, 0.08);
    font-family: 'Lato-Bold';
}

.third_list{
    margin-top: -59px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.third_title{
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #101010;
    font-family: 'Lato-Bold';
    padding-bottom: 10px;
}

.third_text{
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #000000;
    font-family: 'Lato-Bold';
    padding-bottom: 25px;
}

.third_list-2{
    margin-top: -52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.third_title-2{
    padding-top: 8px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #101010;
    font-family: 'Lato-Bold';
    padding-bottom: 10px;
}

.third_text-2{
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #000000;
    font-family: 'Lato-Bold';
    padding-bottom: 25px;
}

.third_list-3{
    margin-top: -52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.third_title-3{
    padding-top: 5px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #101010;
    font-family: 'Lato-Bold';
    padding-bottom: 10px;
}

.third_text-3{
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #000000;
    font-family: 'Lato-Bold';
    padding-bottom: 25px;
}

.third_list-4{
    margin-top: -52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.third_title-4{
    padding-top: 15px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #101010;
    font-family: 'Lato-Bold';
    padding-bottom: 10px;
}

.third_text-4{
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #000000;
    font-family: 'Lato-Bold';
    padding-bottom: 25px;
}

.fourth_section{
    background: #ED4C5C;
}

.fourth_content{
    display: flex;
}

.fourth_list{
    width: 445px;
}

.fourth_h4{
    padding-top: 122px; 
    padding-bottom: 24px;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
    font-family: 'Lato-SemiBold';
}

.fourth_text{
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #FFFFFF;
    font-family: 'Lato-Regular';
    padding-bottom: 40px;
}

.forth_ul-list{
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.fourth_img{
    padding: 94px 0 95px 81px
}

.fifth_content{
    display: flex;
}

.fifth_h5{
    padding-top: 117px;
    font-size: 36px;
    line-height: 43px;
    color: #000000; 
    font-family: 'Lato-SemiBold';
}

.fifth_text{
    width: 434px;
    padding-top: 78px;
    margin-right: 125px;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #000000;
    font-family: 'Lato-Regular';
}

.firstname{
    margin-top: 117px;
    margin-right: 25px;
    width: 255px;
    height: 60px;
    border: 1px solid #333333;
    border-radius: 6px;
    font-size: 16px;
    line-height: 19px;
    padding-left: 31px;
    color: rgba(19, 39, 67, 0.5);
    font-family: 'Lato-Regular';
}

.lastname{
    margin-top: 117px;
    width: 255px;
    height: 60px;
    border: 1px solid #333333;
    border-radius: 6px;
    padding-left: 31px;
    font-size: 16px;
    line-height: 19px;
    color: rgba(19, 39, 67, 0.5);
    font-family: 'Lato-Regular';
    margin-bottom: 24px;
}

.phonenumber{
    width: 540px;
    height: 60px;
    border: 1px solid #333333;
    border-radius: 6px;
    padding-left: 31px;
    font-size: 16px;
    line-height: 19px;
    color: rgba(19, 39, 67, 0.5);
    font-family: 'Lato-Regular';
    margin-bottom: 24px;
}

.selectservice{
    width: 540px;
    height: 60px;
    border: 1px solid #333333;
    border-radius: 6px;
    padding-left: 31px;
    font-size: 16px;
    line-height: 19px;
    color: rgba(19, 39, 67, 0.5);
    font-family: 'Lato-Regular';
    margin-bottom: 27px;
}

.submit_button{
    width: 160px;
    height: 50px;
    background: #ED4C5C;
    border: 1.5px solid #ED4C5C;
    border-radius: 6px;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'Lato-Regular';
    margin-bottom: 123px;
}

footer{
    background: #FAFAFA;
}

.footer_content{
    display: flex;
    column-gap: 30px;
}

.address_title{
    padding: 85px 0 33px 1px;
    font-size: 18px;
    line-height: 22px;
    color: #101010;
    font-family: 'Lato-Bold';
}

.address_text{
    width: 254px;
    font-size: 12px;
    line-height: 150%;
    color: #101010; 
    font-family: 'Lato-Regular';
}

.footer_list{
    padding-top: 85px;
    width: 254px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.footer_link-p{
    font-size: 18px;
    line-height: 22px;
    color: #101010;
    font-family: 'Lato-Bold';
    padding-bottom: 17px;
}

.footer_link{
    font-size: 12px;
    line-height: 160%;
    text-transform: capitalize;
    color: #000000;
    font-family: 'Lato-Regular';
}

.contacts_title{
    padding-top: 85px;
    padding-bottom: 33px;
    font-size: 18px;
    line-height: 22px;
    color: #101010;
    font-family: 'Lato-Bold';
}

.contacts_contact{
    font-size: 12px;
    line-height: 14px;
    color: #101010;
    font-family: 'Lato-Regular';
    padding-right: 172px;
}

.footer_contacts-list{
    padding-top: 20px;
    display: flex;
    column-gap: 14px;
}

.support_title{
    padding-top: 85px;
    font-size: 18px;
    line-height: 22px;
    color: #101010;
    font-family: 'Lato-Bold';
    padding-bottom: 33px;
}

.privecy{
    padding-bottom: 90px;
}

.footer-p{
    font-size: 12px;
    line-height: 14px;
    color: #101010;
    font-family: 'Lato-Regular';
    padding-bottom: 86px;
}